.venv
.vscode
.git
.env
.sqlite3
#static
anexosapp
*Teste.py*
*__pycache__*
tk.txt
*.txt
~/.vscode
~/keys
keys
*.key
~/app
venv
testes.py
deploy-assii.sh
deploy-glab.sh
start.sh
.mypy_cache
.editorconfig
testes-assii
cat-pub.txt
token_1.py
assiifacial
/util

